@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-background: #15171b;
  --app-background-light: #1d1e26;
  --app-background-accent: rgba(255, 255, 255, 0.15)
}

body {
  background-color: var(--app-background-light);
}


/* mobile 1rem = 14px  */
html {
  font-size: 87.5%;
}

/* tablet 1rem = 16px  */
@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}
