name: 'Publish GitHub Tag and Release'

on:
  workflow_call:
    inputs:
      version:
        type: string
        description: 'The version to publish'
        required: true

permissions:
  checks: write
  contents: write

jobs:

  publish_tag:
    name: Publish GitHub Tag and Release
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        id: checkout
        uses: actions/checkout@v3

      - name: Create Tag
        id: tag
        uses: mathieudutour/github-tag-action@v6.1
        with:
          custom_tag: ${{ inputs.version }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create release
        id: release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag.outputs.new_tag }}
          name: ${{ steps.tag.outputs.new_tag }}
          body: ${{ steps.tag.outputs.changelog }}
