name: 'Publish to Docker Hub'

on:
  workflow_call:
    inputs:
      version:
        type: string
        description: 'The version to publish'
        required: true
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

permissions:
  checks: write
  contents: write

jobs:

  publish_docker:
    name: Publish to Docker Hub
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        id: checkout
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        id: login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ github.repository }}
          tags: |
            type=raw,value=${{ inputs.version }},priority=1000
            type=raw,value=latest

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
